{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-dismissible alert-{{ type }}" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}