{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h3>Welcome to Social Network!</h3>
    <p>This will be the simple social network application.</p>
{% endblock %}