{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h3>Search results for "{{ username }}"</h3>

    {% if not users %}
        <h4>No results found</h4>
    {% else %}
        <div class="row">
            <div class="col-lg-6">
                {% for user in users %}
                    {% include '/profile/partials/user_block.html.twig' %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}